#svg {
    cursor : crosshair;
    width : 1800px;
    height: 600px;
}
#menuContextuel {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 1000;
    min-width: 150px;
}
#rectContextMenu{
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 1000;
    min-width: 150px;
}
#rectMenuModif {
    position : absolute;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 1000;
}

.clickable {
    cursor: pointer;
}
.active {
    display: block !important;
}
.fermerEdit {
    padding: 1%;
    margin-bottom: 2%;
    right: 45px;
    font-size: larger;
}