#page-content div:is(.document, .darkdocument) {
    max-width: 45em;
}

div:is(.document, .darkdocument) {
    display: none;
    margin-inline: auto;
    margin-block: 1.5em;
    padding: 1.5rem;
    position: relative;
    --posX: -20vw;
}

div.document {
    background-color: rgb(var(--document-background-color));
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 0, 0.1), 0px 6px 15px -4px rgba(0, 0, 0, 0.2);
    color: rgb(50, 50, 53);
    margin : 5%;
    width: 60%;
}

div.darkdocument {
    background-color: rgb(var(--darkdocument-background-color));
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 10, 0.8), 0px 6px 15px -4px rgba(0, 0, 7, 0.9);
    color: rgb(195, 195, 200);
}

div:is(.document, .darkdocument)::before,
div:is(.document, .darkdocument)::after {
    content: "";
    height: 98%;
    position: absolute;
    width: 98%;
    z-index: -1;
}

div:is(.document, .darkdocument)::before {
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

div:is(.document, .darkdocument)::after {
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

div:is(.document)::before,
div:is(.document)::after {
    background-color: rgb(var(--document-background-color));
}

div:is(.darkdocument)::before,
div:is(.darkdocument)::after {
    background-color: rgb(var(--darkdocument-background-color));
    opacity: 90%;
}

div.document::before {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 0, 0.1), 0px 6px 15px -4px rgba(0, 0, 0, 0.1);
}

div.document::after {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 0, 0.1), 0px 6px 15px -4px rgba(0, 0, 0, 0.05);
}

div.darkdocument::before {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 10, 0.8), 0px 6px 15px -4px rgba(0, 0, 7, 0.9);
}

div.darkdocument::after {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 10, 0.8), 0px 6px 15px -4px rgba(0, 0, 7, 0.05);
}

.document > .tab-content.active, .document > .centre > .tab-content.active {
    display: flex;
    border-radius : 0;
    background: rgb(var(--document-background-color));
    height : auto;
    margin: 10%;
    box-shadow: none;
}
.document > .tab-content.active > .contentDressCode > img {
    height: 80%;
}
.tab-content.active {
    justify-content: center;
}


.centre{
    text-align: center;
}

.actif{
    display : flex;
}
.inactif{
    display: none;
}
.contentDressCode{
    width:40%;
    border: 1px solid #000000;
    min-height: 20em;
}
.Presentation{
    font-size:large;
}
.pointer{
    cursor: pointer;
}
.mainContainerDresscode {
    display : flex;
    justify-content: center;
}