/* -------------------------------------------------------------------------------------------------------------------- */
/*Les classes*/
/*Changer la couleur de surlignage*/
::-moz-selection { /*@bugfix mozilla*/
    background: var(--couleur-De-Surlignage);
    color: #FFFFFF
}
::selection { /* effet souris  */
    background: var(--couleur-De-Surlignage);
    color: #FFFFFF
}
.Presentation{
    font-size:large;
}

/*Main*/
.upperContainer .upperContainerMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--couleur-upperContainer), #232347);
    box-shadow: 0px 4px 7px var(--couleur-ombre-upperContainer);
    /*position : absolute;*/
}

.upperContainerDivider {
    display: flex;
    padding-bottom: 1%;
    border-top: 3px solid rgba(16, 16, 15, 0.52);
    height: 5%;
    width: 100%;
}

.imageProfil {
    width: 50px;
    height: 50px;
    background-image : url('https://avatars.githubusercontent.com/u/162198238?v=4');
    background-size : cover;
    background-position : center;
    border-radius : 60%;
    border : 1px solid var(--couleur-upperContainer);
    transition: transform 0.3s ease-in-out;
    margin-left : 5%;
}
.imageProfil:hover {
    transform: scale(1.1);
}

.ContainerTitle{
    //TODO
}
/*Les IDs*/