:root {
    --sizeOfText : 300px;
    --overflowY : auto;
    --overflowX : auto;
}
/*Collapsibles */
.collapsible {
    background-color: #37353b;
    color: white;
    cursor: pointer;
    padding : 18px;
    margin-bottom : 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.collapsibleMinus:after{
    content: '\02796' !important;
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.collapsibleContent {
    padding : 18px;
    display: none;
    overflow: hidden;
    margin-top: 0px;
    width: 100%;
    color : #FFFFFF;
    background-color: #5a5761;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: max-height 0.5s ease-out;
}

/*Mise en forme des textes*/
.retourALaLigne {
    width : 100%;
    flex-basis: 100%;
}

.enLigne {
    display: inline-block;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
}
/*Conteneurs principaux */
.mainChoiceContainer {
    display: flex;
}
.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 14px;
}
.content {
    display: flex;
    border-radius : 30px;
    background: #fff;
    height : 150%;
    margin: 10%;
}
.mainContainer {
    display: flex;
    height : 500%;
}
.MainConteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color : #ffffff;
    font-weight: bolder;
    font-size: var(--sizeOfText);
}

/*Page SomethingUseless */
.consoleDiv {
    width:94%;
    display: flex;
    align-items: flex-start;
    margin : 1%;
    padding-left : 2%;
    padding-right : 2%;
    color : #4a8e38 !important;
    font-weight: bolder;
    background-color: #000000 !important;
    border-radius : 30px;
    font-size: 150px;
    word-wrap: break-word;
    word-break: break-word;
}
.advice{
    display: none;
    cursor: pointer;
}
.consoleGuide {
    display : none;
    justify-content: center;
    align-items: center;
    padding-left: 12.9%;
    color : #FFFFFF;
}
.fermerGuide {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.telephone {
    display: none;
}
.datesSomethingUseless {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 1%;
    padding-left : 4.45%;
    color : #4a8e38 !important;
    font-size: 0px;
}
.commande{
    background-color: #1b1b22 !important;
    color : #c1f3d0;
    width: 30%;
    margin-left: 15%;
    border-radius: 1%;
    box-shadow: 4px 4px 7px #09090b;
    min-height: 150px;
    max-height: 500px;

    overflow-x: auto;
    scrollbar-width : none;
    white-space: nowrap;
}
.commande pre , .commande code.hljs {
    background-color: inherit !important;
    color : #cccccc;
}
.commande.hljs-section {
    color : #4a8e38 !important;
}
code {
    overflow-x: auto !important;
    scrollbar-width : none !important;
}
.commande::-webkit-scrollbar {
    display: none;
}

/*Portfolio */
.logo {
    width: 6%;
    vertical-align: middle;
    padding : 1%;
}
.labelProg {
    vertical-align: baseline;
}
.divProg {
    margin : 3%;
    display: flex;
    background-color: #433c3c;
    box-shadow: 4px 4px 7px #09090b;
    color: white;
    border-radius : 10px;
    font-size: large;
    width : 150%;
    cursor: pointer;
}
.dividerProg {
    border: 1px solid #000000;
    height: 1%;
    width : 155%;
}
.collapsibleContent > .divProg {
    width : 90%;
}
.collapsibleContent > .divProg > .logo {
    width : 10%;
    height: 10%;
}
#halloweenLogoJS {
    border-radius: 2%;
}
.collapsibleContent > .divProg {
    margin-bottom : 3%;
}


/*Les IDs.*/
/*Page somethingUseless*/
#adviceOn {
    display : none;
    color : #FFFFFF;
}

#easterEgg {
    color: #FFFFFF;
    font-size: 50px;
}

/*Date*/
#dateSomethingUseless {
    background-color: #000000 !important;
}

/*Portfolio*/
#portfolio{
    width: 50%
}