.enLigne {
    display: inline-block;
}

.mainChoiceContainer {
    display: flex;
}
.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
}

.content {
    display: flex;
    border-radius : 30px;
    background: #fff;
    height : 150%;
    margin: 10%;
}

.mainContainer {
    display: flex;
    height : 500%;
}

#portfolio{
    width: 50%
}

:root {
    --sizeOfText : 300px
}

.MainConteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color : #ffffff;
    font-weight: bolder;
    font-size: var(--sizeOfText);
}

#ForStryker {
    color: #FFFFFF;
    font-size: 50px;
}