:root {
    --sizeOfText : 300px;
    --overflowY : auto;
    --overflowX : auto;
}
.retourALaLigne {
    width : 100%;
    flex-basis: 100%;
}

.enLigne {
    display: inline-block;
}

.mainChoiceContainer {
    display: flex;
}
.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
}

.content {
    display: flex;
    border-radius : 30px;
    background: #fff;
    height : 150%;
    margin: 10%;
}

.mainContainer {
    display: flex;
    height : 500%;
}

#portfolio{
    width: 50%
}

.MainConteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color : #ffffff;
    font-weight: bolder;
    font-size: var(--sizeOfText);
}

.consoleDiv {
    width:94%;
    display: flex;
    align-items: flex-start;
    margin : 1%;
    padding-left : 2%;
    padding-right : 2%;
    color : #4a8e38 !important;
    font-weight: bolder;
    background-color: #000000 !important;
    border-radius : 30px;
    font-size: 150px;
    word-wrap: break-word;
    word-break: break-word;
}

.advice{
    display: none;
    cursor: pointer;
}
.consoleGuide {
    display : none;
    justify-content: center;
    align-items: center;
    padding-left: 12.9%;
    color : #FFFFFF;
}
.fermerGuide {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.telephone {
    display: none;
}
.datesSomethingUseless {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 1%;
    padding-left : 4.45%;
    color : #4a8e38 !important;
    font-size: 0px;
}

.commande{
    background-color: #1b1b22;
    color : #c1f3d0;
    width: 30%;
    margin-left: 15%;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 1%;
    box-shadow: 4px 4px 7px #09090b;
    min-height: 150px;
    max-height: 500px;

    overflow: auto;
    white-space: nowrap;
}

#adviceOn {
    display : none;
    color : #FFFFFF;
}
#easterEgg {
    color: #FFFFFF;
    font-size: 50px;
}
#dateSomethingUseless {
    background-color: #000000 !important;
}