.sousTabs {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width:100%;
    height:auto;
    overflow-y: auto;
}

.sousTab {
    display: flex;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    background-color: var(--couleur-De-Fond-Tab);
    color:#f4f4f4;
    width : 40%;
    transition : all 1s ease-out;
}
.sousTab:hover, .sousTav:focus {
    color : var(--couleur-De-Fond-Tab);
    background-color: #f4f4f4;
}
/* -------------------------------------------------------------------------------------------------------------------- */

.sousTab.sousTabActive {
    background-color: var(--couleur-De-Fond-Tab-Active);
    font-weight: bold;
    border-bottom: 1px solid white;
}

.sousTab-content {
    padding: 20px;
    display: none;
}

.sousTab-content.sousTabActive {
    display: flex;
    flex-direction: column;
    border-radius : 30px;
    background: #fff;
    height : auto;
    margin: 10%;
}
