.sousTabs {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width:100%;
    height:auto;
    overflow-y: auto;
}

/*Ici la classe pour les onglets */
.sousTab {
    display: flex;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    background-color: var(--couleur-De-Fond-Tab);
    color:#f4f4f4;
    width : 40%;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Ici la classe pour l'onglet actuellement actif*/
.sousTab.sousTabActive {
    background-color: var(--couleur-De-Fond-Tab-Active);
    font-weight: bold;
    border-bottom: 1px solid white;
}


/*Ici c'est le contenue de l'onglet qui est à afficher*/
.sousTab-content {
    padding: 20px;
    display: none;
}

/*On change son display lorsqu'il est actif*/
.sousTab-content.sousTabActive {
    display: flex;
    flex-direction: column;
    border-radius : 30px;
    background: #fff;
    height : auto;
    margin: 10%;
}
