.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    width:100%;
    height:20%;
}

/*Ici la classe pour les onglets */
.tab {
    position: relative;
    display: flex;
    flex:1;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    background-color: var(--couleur-De-Fond-Tab);
    color:#f4f4f4;
    width : 6%;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Ici la classe pour l'onglet actuellement actif*/
.tab.active {
    background-color: var(--couleur-De-Fond-Tab-Active);
    font-weight: bold;
    border-bottom: 1px solid white;
}

/*On ajout sous l'onglet actif une fleche de la même couleur que son background color*/
.tab.active::after {
    content: '';
    position: absolute;
    top : 50%;
    left: -5px;
    transform: rotate(0.12turn);
    border-left: 8px solid var(--couleur-De-Fond-Tab-Active);
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
}

/*Ici c'est le contenue de l'onglet qui est à afficher*/
.tab-content {
    padding: 20px;
    display: none;
}

/*On change son display lorsqu'il est actif*/
.tab-content.active {
    display: flex;
    border-radius : 30px;
    background: #fff;
    height : 150%;
    margin: 10%;
}